'primeira linha é uma base geral do branch'

'primeira linha para first development'

'primeira linha para second development'

'primeira linha para third development'

'segunda linha para third development'

'terceira linha para third development'


'primeira linha para feature1'

'segunda linha para feature1'

'terceira linha para feature1'
